body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin: 0 24px;
}

.header-links {
    margin-right: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

a {
    color: #F9FAF8;
    text-decoration: 0;
    margin: 16px;
}

.hero {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 8px;
    overflow-y: hidden;
}

.hero-body {
    display: flex;
    flex-direction: column;
    margin: 36px 24px;
    color: #F9FAF8;
    max-width: 500px;
}

.main-text {
    font-size: 36px;
    font-weight: bolder;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 12px 0;
}

button {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #3882F6;
    color: #F9FAF8;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: #1F2937;
}

.hero-image {
    max-width: 350px;
    margin: 36px;
}

.body-title {
    text-align: center;
    font-size: 36px;
    margin-top: 52px;
    font-weight: bolder;
    color: #1F2937;
}

.body-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: hidden;
    padding: 52px 24px;
}

.body-image {
    border: 1px;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    margin: 24px;
}

.text {
    font-size: 18px;
    min-width: 150px;
    margin: 0 16px;
}

.quote {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 5% 20%;
}

.main-quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    text-align: end;
    font-weight: bold;
    font-size: 16px;
}

.ad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 52px 10%;
    border: none;
    border-radius: 4px;
    padding: 48px 104px;
    
}

.main-ad {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 4px;
}

.ad-button {
    border: 2px solid;
    border-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 24px;
    font-size: 14px;
}


